TELEGRAM_API_KEY=123456789:ABCD...
REQUIRED_VOTES=5
ACTION_LIMIT=5
# не более ACTION_LIMIT действий за ACTION_PERIOD_HOURS часов
ACTION_PERIOD_HOURS=6
SQLITE_DB_URL=sqlite:./moderator.db

# Owner settings, can be set on first launch
OWNER_ID=100123456
OWNER_CHAT=-100123456789
